BASE_URL=https://app.somos.com
EMAIL=youremail@somos.com
PASSWORD=yourpassword
HELP_DESK_ADMIN=helpdeskadmin_TFNR_ID
ROC_USER=rocuser_TFNR_ID
RESP_ORG_USER=resporguser_TFNR_ID
ENVIRONMENT=environement_name_dev_qa